pipeline/GrabHistoricalPricesIex.json
{
	"name": "GrabHistoricalPricesIex",
	"properties": {
		"activities": [
			{
				"name": "GrabApiKey",
				"description": "Grabs the API Key from my Azure Key Vault.",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://sigma-key-vault.vault.azure.net/secrets/iex-api-key/782a6c7b2be942c29bf9291109685bc6?api-version=7.1",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GrabTradingTickers",
				"description": "Retrieves all the Tickers that we are will be trading.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GrabApiKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM [ST_Tickers_Trading];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSecCikTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GrabPricesEachTicker",
				"description": "Grabs the historical prices for each of the tickers we will be trading.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GrabTradingTickers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GrabTradingTickers').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GrabHistoricalPrices",
							"description": "Grabs the historical prices for the specific ticker symbol.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"filePattern": "setOfObjects"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "IexPriceHistory",
									"type": "DatasetReference",
									"parameters": {
										"token": {
											"value": "@activity('GrabApiKey').output.value",
											"type": "Expression"
										},
										"ticker": "@item().ticker"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureTradingFactoryIexDumps",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().ticker,'.jsonc')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "SecFilings"
		},
		"annotations": []
	}
}